PORT=5000
NODE_ENV=production

DB_USER=postgres.gczhalzwuguxpgcbjcfn
DB_PASSWORD=your_db_password_here
DB_HOST=aws-1-eu-central-1.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_SSL=require

JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=8h
